.red {
  color: #e74c3c;
}
.green {
  color: #2ecc71;
}
.blue {
  color: #2980b9;
}
.orange {
  color: #f39c12;
}
.bg-red {
  background-color: #e74c3c;
}
.bg-green {
  background-color: #2ecc71;
}
.bg-blue {
  background-color: #2980b9;
}
.bg-orange {
  background-color: #f39c12;
}
.serif {
  font-family: serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body {
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  font-size: 24pt;
  background: #34495e;
  color: #ffffff;
}
.bespoke-progress-parent {
  position: fixed;
  left: 1em;
  right: 1em;
  height: 8px;
  border-radius: 32px;
  bottom: 1em;
  overflow: hidden;
  display: block;
  z-index: 100000;
  background-color: #ecf0f1;
}
.bespoke-progress-parent .bespoke-progress-bar {
  height: 100%;
  background-color: #94aab0;
}
body,
section.bespoke-slide {
  -webkit-transition: -webkit-transform 0.1s ease, opacity 0.1s ease, background-color 0.1s ease;
  -moz-transition: -moz-transform 0.1s ease, opacity 0.1s ease, background-color 0.1s ease;
  -ms-transition: -ms-transform 0.1s ease, opacity 0.1s ease, background-color 0.1s ease;
  -o-transition: -o-transform 0.1s ease, opacity 0.1s ease, background-color 0.1s ease;
  transition: transform 0.1s ease, opacity 0.1s ease, background-color 0.1s ease;
}
section.bespoke-active {
  opacity: 1;
  z-index: 1;
}
section.bespoke-inactive {
  pointer-events: none;
}
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 24pt;
  padding: 1.5em 2em 0em 2em;
  background-color: #34495e;
  color: #ffffff;
}
section h1 {
  font-size: 48pt;
  font-family: 'PT Sans Narrow', sans-serif;
}
section h2 {
  font-size: 38pt;
  font-family: 'PT Sans Narrow', sans-serif;
}
section ul {
  padding: 0.5em;
  list-style: none;
}
section li {
  list-style: none;
  line-height: 2em;
}
section p {
  padding-top: 1em;
}
/*section p.note {*/
/*font-family: 'PT Sans Narrow', sans-serif;*/
/*color: #95a5a6;*/
/*}*/
section.title {
  background-color: #f39c12;
}
section.title div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 350px;
  text-align: center;
}
section.title div h1 {
  font-size: 100px;
}
section.title div h2 {
  font-size: 48px;
}
/*section.shout {*/
/*text-align: center;*/
/*background-color: #27ae60;*/
/*background-color: #f1c40f;*/
/*color: #ecf0f1;*/
/*h1 {*/
/*font-size: 170px;*/
/*position: relative;*/
/*top: 20%;*/
/*}*/
/*}*/
code {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.5em;
  background: #2ecc71;
  color: #2c3e50;
  font-size: 16pt;
  width: 100%;
  margin-right: 0.5em;
  margin-top: 0.05em;
  margin-bottom: 0.05em;
  width: 95%;
}
.half {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.third {
  display: inline-block;
  width: 31%;
  vertical-align: top;
}
.half.delim {
  width: 47%;
  padding-right: 1%;
  margin-right: 2%;
  border-right: 1px solid #ecf0f1;
}
.smallfont {
  font-size: 10pt;
}
