a {
  color: #b83000;
  font-weight: bold;
  text-decoration: none;
}

a:hover { border-bottom: 1px dashed; }

body {
  color: #333;
  font: 16pt 'Buenard', 'CharisSILRegular', serif;
  margin: 0 auto;
  text-align: justify;
  width: 740px;
}

body .menu {
  background: white;
  color: #b83000;
  display: block;
  font: 18pt 'Corben', 'CharisSILRegular', serif;
  margin: 9pt auto;
  padding: 9pt 0;
  text-align: center;
  width: 100%;
}

body .menu ul {
  display: inline;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1em;
}

body .menu ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

body .menu ul li a {
  border: 0;
  font-weight: bold;
  padding: 0 15px;
  text-decoration: none;
}

body .menu ul li a:hover {
  background: #b83000;
  color: white;
}

code {
  background: #eee;
  color: #333;
  font: 10pt 'Droid Mono', monospace;
}

h1 {
  font-family: 'Quando', 'CharisSILBold', serif;
  font-size: 28pt;
  padding: 24pt 0 12pt 0;
  text-align: center;
  text-transform: lowercase;
}

h2 {
  border-bottom: 2px solid #333;
  font-family: 'Quando', 'CharisSILBold', serif;
  font-size: 20pt;
  padding: 8pt 0 4pt 0;
  text-align: right;
  text-transform: lowercase;
}

pre {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  background: #eee;
  border-radius: 1em;
  color: #333;
  font: 10pt 'Droid Mono', monospace;
  padding: 1em;
}