body {
  width: 90%;
}
@media screen and (min-width: 800px) {
  body {
    width: 740px;
  }
  body .menu {
    padding: 9pt 0;
    margin: 9pt auto;
  }
  body .menu ul li a {
    padding: 0 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*@text-font-size: 20px;*/
/*@text-font-family: 'Merriweather', serif;*/
/*@text-line-height: 36px;*/
/*@header-font-family: 'Quando', serif;*/
/*@header-font-family: 'Bree Serif', serif;*/
/*@header-font-family: 'Roboto Slab', serif;*/
/*@header-font-family: 'Slabo 27px', serif;*/
/*@header-font-family: 'Comfortaa', serif;*/
/*@header-font-family: 'Droid Serif', serif;*/
/*@header-font-family: 'Oswald', serif;*/
/*@header-font-family: 'Vollkorn', serif;*/
body {
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}
p {
  text-align: justify;
  margin-bottom: 36px;
}
pre {
  margin-bottom: 36px;
}
code {
  font-family: 'Crimson Text', serif;
  font-style: italic;
}
em,
b,
strong {
  font-weight: 600;
}
h1,
h2 {
  /*font-family: 'Roboto Slab', serif;*/
  font-weight: normal;
  font-family: 'Bree Serif', serif;
  color: #000000;
}
h1 {
  display: block;
  margin: 0 auto;
  text-transform: lowercase;
  /*text-align: center;*/
  text-align: left;
  font-family: 'Yanone Kaffeesatz', serif;
  font-size: 61.44px;
  line-height: 72px;
  padding-bottom: 1em;
  /*padding: 24pt 0 12pt 0;*/
}
h2 {
  font-family: 'Yanone Kaffeesatz', serif;
  font-size: 38.4px;
  line-height: 57.6px;
  /*font-size: 20pt;*/
  /*font-size: 34px;*/
  text-align: right;
  border-bottom: 2px solid #333333;
  margin-top: 36px;
  margin-bottom: 50.4px;
  text-transform: lowercase;
  /*padding: 8pt 0 4pt 0;*/
}
ul,
ol {
  list-style-position: outside;
  margin-left: 1em;
}
code {
  font-style: italic;
}
pre {
  font: 0.7em monospace;
  background: #eee;
  color: #000000;
  border-radius: 2px;
  padding: 1em;
  overflow-y: auto;
}
pre > code {
  font-size: 0.7em;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  font-style: normal;
}
a:not(.social):not(.menu-link) {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 26px;
  color: #000000;
  text-decoration: none;
}
footer {
  height: 36px;
}
.menu {
  width: 100%;
  padding: 0.5em 0;
  margin: 0.5em auto;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #b83000;
}
.menu ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  line-height: 72px;
  display: inline;
}
.menu ul li {
  list-style-type: none;
  display: inline;
}
.menu ul li a {
  font-family: 'Yanone Kaffeesatz', serif;
  display: inline-block;
  text-decoration: none;
  border: 0;
  min-width: 3em;
  transition: color 0.2s ease;
  transition: background 0.2s ease;
  color: #b83000;
  font-weight: 300;
}
.menu ul li a:hover {
  color: #ffffff;
  background: #b83000;
}
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
