body {
	width: 740px;
}

@media screen and (max-width: 800px) {
	body {
		width: 90%;
	}
	body .menu {
		font-size: 0.7em;
	}
}

body {
  margin: 0 auto;
  font-family: 'Buenard', serif;
	font-size: 1.3em;
  text-align: justify;
  color: #333333;
}
body .menu {
  width: 100%;
  background: #ffffff;
  padding: 9pt 0;
  margin: 9pt auto;
  display: block;
  text-align: center;
  color: #b83000;
  font-family: 'Quando', serif;
}
body .menu ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  padding-bottom: 1em;
  display: inline;
}
body .menu ul li {
  padding: 0;
  margin: 0;
  display: inline;
}
body .menu ul li a {
  text-decoration: none;
  border: 0;
  font-weight: bold;
  padding: 0 15px;
}
body .menu ul li a:hover {
  color: #ffffff;
  background: #b83000;
}
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
}
h1 {
  text-transform: lowercase;
  text-align: center;
  font-family: 'Quando', serif;
  font-size: 28pt;
  padding: 24pt 0 12pt 0;
}
h2 {
  font-family: 'Quando', serif;
  font-size: 20pt;
  text-align: right;
  border-bottom: 2px solid #333333;
  text-transform: lowercase;
  padding: 8pt 0 4pt 0;
}
pre {
	background: #eee;
	color: #333;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  padding: 1em;
	font: 0.7em 'Droid Mono', monospace;
}
a {
  color: #b83000;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dashed;
}
